.hi-there {
  margin-left: 7vw;
  margin-bottom: 0;
  color: rgb(37, 52, 75);
  font-size: larger;
}

.welcome-to {
  margin-left: 7vw;
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: rgb(37, 52, 75);
  margin-top: 0;
  font-size: larger;
}

.reveal-text {
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  animation: revealText 1s ease-in-out forwards;
}

@keyframes revealText {
  from {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.about-us {
  width: 95vw;
  height: 50vh;
  background-color: rgb(251 247 247);
  margin-left: 2.5vw;
  border-radius: 30px;
  padding-top: 5px;
  margin-bottom: 3vh;
}

.h2-about-us {
  margin-left: 5vw;
  margin-top: 0.5vh;
}

.welcome-text {
  font-size: 1.2em;
  margin-left: 5vw;
  line-height: 1.7;
  position: relative;
  margin-top: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link-to-signin {
  border: none;
  height: 6vh;
  width: 43vw;
  background-color: rgb(37, 52, 75);
  color: white;
  border-radius: 8px;
  font-weight: 700;
}
