.home-form {
  margin-top: 5vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-form h1{
  text-align: left;
}

.home-form input {
  border: none;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  height: 3vh;
  width: 80vw;
  outline: none;
  border-color: transparent;
}

.home-form input + .focus-border {
  position: relative;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #64747b;
  transition: 0.4s;
}

.home-form input:focus + .focus-border {
  width: 80vw;
  transition: 0.4s;
  margin-top: -10px;
}

.home-form button {
  border: none;
  height: 6vh;
  width: 80vw;
  background-color: #c7d4c1;
  border-radius: 8px;
  font-weight: 700;
}

.nav-to-signin {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.nav-to-signin a button {
  border: none;
  height: 6vh;
  width: 30vw;
  background-color: #c7d4c1;
  border-radius: 8px;
  font-weight: 700;
}

.nav-to-signin p{
    margin-bottom: 0;
}

.home-container-signup{
  margin-top: 5vh;
}